
.form_content {
  padding: 50px;

}

.form-control {
  width: 300px;
  height: 50px;
  border-radius: 8px;
}

.label {
  flex: 1;
  display: flex;
  justify-content: center;
  color: black;
}
  

.data {
  flex: 1;
  display: flex;
}